body {
    background: #272727;
}
.swiper {
    margin: 5em auto;
    padding: 1em 0 7em;
    max-width: 50%;
}
.swiper-wrapper{
    height: 20em;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 15em;
    height: 20em;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0006);
}

@media screen and (min-width: 1580px) {
    .swiper{
        max-width: 40%;
    }
}